* {
  margin: 0;
  padding: 0;
}

@import '//fonts.googleapis.com/css?family=Lato:400,400italic|Arvo:700,400,400italic';

body {
    background: #F0EFE7;
    margin: 0;
    padding: 0;
    font: 15px/1.5 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4E443C;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

h1 {
    color: #4E443C;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #777;
}

h2, h2 a {
    color: #F14E32;
}

h3, h3 a {
  color: #0388A6;
}

a {
  color: #0388A6;
}

pre {
  border:1px solid #000;
  overflow-x:auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.mySlick {
  background: silver;
  margin-top: 20px;
  text-align: center;
  margin-left: 5px;
}

.mySlick button.slick-arrow::before{

  color: maroon;
}
.mySlick div img {
  width: 600px;
  height: 400px;
}
.jcarousel-wrapper, .mySlick {
  display: none;
}

.div__h1 {
  text-align: center;
  margin-top: 20px;
  display: block;
}
h1 {
  display: inline-block;
  position: relative;
}

h1::after {
  position: absolute;
  text-align: center;
  width: 50px;
  height: 50px;
  padding-top: 12px;
  display: inline-block;
  content: "Click Me";
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: red;
  top: 0px;
  right:0px;
  color: #FFF;
  font-size: 15px;
  cursor: pointer;
  top: -25px;
  right: -50px;
}

